button {
    background: #000;
    border: 2px solid #000;
    border-radius: 0;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 1em;
    padding: 15px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    -webkit-appearance: button;
}

.checkout-button {
    width: 200px;
}
