html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  -webkit-appearance: none; }

@font-face {
  font-family: 'Montserrat';
  src: url("/static/public/fonts/montserrat/Montserrat-Regular.otf");
  font-weight: normal; }
@font-face {
  font-family: 'Montserrat Light';
  src: url("/static/public/fonts/montserrat/Montserrat-Light.otf");
  font-weight: lighter; }
@font-face {
  font-family: 'Montserrat Ultra Light';
  src: url("/static/public/fonts/montserrat/Montserrat-UltraLight.otf");
  font-weight: lighter; }
@font-face {
  font-family: 'Montserrat Bold';
  src: url("/static/public/fonts/montserrat/Montserrat-Bold.otf");
  font-weight: bold; }
body {
  font-family: 'Montserrat Light', sans-serif; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px; }
  @media (max-width: 600px) {
    h1 {
      font-size: 26px; } }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px; }
  @media (max-width: 600px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px; }

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px; }

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px; }
  @media (max-width: 600px) {
    h6 {
      font-size: 14px; } }

i {
  color: grey; }

button {
  background: #000;
  border: 2px solid #000;
  border-radius: 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 1em;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  -webkit-appearance: button; }

.checkout-button {
  float: right;
  width: 200px; }

.page-wrapper {
  background-color: #F2F2F2;
  height: 275vh; }

.header-wrapper {
  background-color: #000;
  height: 285px;
  position: absolute;
  top: 0;
  width: 100%; }
  .header-wrapper .header {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%; }

.menu {
  margin: 50px 0 0 150px; }
  .menu h3 {
    color: white; }
  .menu span {
    border-bottom: 4px solid white; }

.content-wrapper {
  background-color: white;
  margin: 50px auto 100px auto;
  max-width: 1000px;
  min-height: 100vh;
  padding-top: 70px;
  text-align: center; }
  @media (max-width: 600px) {
    .content-wrapper {
      padding: 50px 5px; } }
  .content-wrapper hr {
    background-color: black;
    border: none;
    height: 3px;
    margin: 15px auto;
    width: 40px; }

.flipbook-wrapper {
  display: none;
  margin-top: 50px; }
  .flipbook-wrapper .flipbook {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center; }
    @media (max-width: 600px) {
      .flipbook-wrapper .flipbook .left, .flipbook-wrapper .flipbook .right {
        box-sizing: border-box;
        font-size: 26px;
        margin-top: 20%;
        padding: 15px 20px;
        position: absolute; } }
    .flipbook-wrapper .flipbook .left {
      margin-right: 15px; }
      @media (max-width: 600px) {
        .flipbook-wrapper .flipbook .left {
          left: 15px;
          margin-right: 0; } }
    .flipbook-wrapper .flipbook .right {
      margin-left: 15px; }
      @media (max-width: 600px) {
        .flipbook-wrapper .flipbook .right {
          margin-left: 0;
          right: 15px; } }
    .flipbook-wrapper .flipbook img {
      width: 70%; }
      @media (max-width: 600px) {
        .flipbook-wrapper .flipbook img {
          width: 100%; } }
  .flipbook-wrapper #top {
    margin-bottom: 10px; }

.collection-wrapper {
  display: none;
  margin-top: 50px;
  text-align: center; }

.collection {
  margin-top: 30px; }
  .collection .collection--item {
    background-color: white;
    cursor: pointer;
    display: inline-block;
    height: 300px;
    margin: 15px;
    position: relative;
    width: 250px; }
    @media (max-width: 600px) {
      .collection .collection--item {
        height: 200px;
        margin: 5px;
        width: 150px; } }
    @media (max-width: 400px) {
      .collection .collection--item {
        height: 200px;
        margin: 0;
        width: 150px; } }
    .collection .collection--item:hover .view-button {
      display: block; }
    .collection .collection--item img {
      height: 300px;
      width: 250px;
      object-fit: cover; }
      @media (max-width: 600px) {
        .collection .collection--item img {
          height: 200px;
          width: 150px; } }
      @media (max-width: 400px) {
        .collection .collection--item img {
          height: 180px;
          width: 120px; } }
    .collection .collection--item .view-button {
      background-color: #404040;
      bottom: 0;
      box-sizing: border-box;
      color: white;
      display: none;
      height: 50px;
      line-height: 50px;
      opacity: 0.9;
      position: absolute;
      text-decoration: none;
      width: 100%; }
    .collection .collection--item .view-button:hover {
      background-color: black; }

/*# sourceMappingURL=main.css.map */
