.page-wrapper {
    background-color: #F2F2F2;
    height: 275vh;
}

.header-wrapper {
    background-color: #000;
    height: 285px;
    position: absolute;
    top: 0;
    width: 100%;

    .header {
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: top center;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
}

.menu {
    margin: 50px 0 0 150px;

    h3 {
        color: white;
    }

    span {
        border-bottom: 4px solid white;
    }
}

.content-wrapper {
    background-color: white;
    margin: 50px auto 100px auto;
    max-width: 1000px;
    padding-top: 70px;
    text-align: center;

    @media (max-width: 600px) {
        padding: 50px 5px;
    }

    hr {
        background-color: black;
        border: none;
        height: 3px;
        margin: 15px auto;
        width: 40px;
    }
}

.flipbook-wrapper {
    margin-top: 50px;

    .flipbook {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;

        .left, .right {
            @media (max-width: 600px) {
                margin-top: 20%;
                padding: 10px;
                position: absolute;
            }
        }

        .left {
            margin-right: 15px;

            @media (max-width: 600px) {
                left: 15px;
                margin-right: 0;
            }
        }

        .right {
            margin-left: 15px;

            @media (max-width: 600px) {
                margin-left: 0;
                right: 15px;
            }
        }

        img {
            width: 70%;

            @media (max-width: 600px) {
                width: 100%;
            }
        }
    }

    #top {
        margin-bottom: 10px;
    }
}

.collection-wrapper {
    margin-top: 50px;
    text-align: center;
}

.collection {
    margin-top: 30px;

    .collection--item {
        background-color: white;
        cursor: pointer;
        display: inline-block;
        height: 300px;
        margin: 15px;
        position: relative;
        width: 250px;

        @media (max-width: 600px) {
            height: 200px;
            width: 150px;
        }

        &:hover .view-button {
            display: block;
        }

        img {
            height: 300px;
            width: 250px;
            object-fit: cover;

            @media (max-width: 600px) {
                height: 200px;
                width: 150px;
            }
        }

        .view-button {
            background-color: #404040;
            bottom: 0;
            box-sizing: border-box;
            color: white;
            display: none;
            height: 50px;
            line-height: 50px;
            opacity: 0.9;
            position: absolute;
            text-decoration: none;
            width: 100%;
        }

        .view-button:hover {
            background-color: black;
        }

    }
}
