.page-wrapper {
    background-color: #F2F2F2;
    height: 300vh;
}

.header-wrapper {
    background-color: #000;
    height: 285px;
    position: absolute;
    top: 0;
    width: 100%;

    .header {
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: top center;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
}

.menu {
    margin: 50px 0 0 150px;

    h3 {
        color: white;
    }

    span {
        border-bottom: 4px solid white;
    }
}

.content-wrapper {
    background-color: white;
    margin: 50px auto 100px auto;
    padding-top: 70px;
    text-align: center;
    width: 1000px;

    hr {
        background-color: black;
        border: none;
        height: 3px;
        margin: 15px auto;
        width: 40px;
    }
}

.flipbook-wrapper {
    margin-top: 50px;

    .flipbook {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;

        .left {
            margin-right: 15px;
        }

        .right {
            margin-left: 15px;
        }

        img {
            width: 70%;
        }
    }

    #top {
        margin-bottom: 10px;
    }
}

.collection-wrapper {
    margin-top: 50px;
    text-align: center;
}

.collection {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .collection--item {
        background-color: white;
        height: 350px;
        width: 33%;
    }
}
